body {
  width: 960px;
  margin: 0 auto;
  background-color: bisque;
}

nav {
  float: right;
  padding-right: 15px;
  padding-top: 25px;
}

nav > ul > li {
  display: inline;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: seagreen;
}

h1 {
  font-size: 35px;
  padding-bottom: 20px;
  padding-top: 10px;
  font-family: cursive;
  color: seagreen;
}

body > div:first-of-type {
  font-family: cursive;
  color: maroon;
  padding-bottom: 9px;
}

article > #thumbDown {
  padding-left: 150px;
  padding-right: 10px;
  padding-bottom: 110px;
  height: 50px;
  width: 45px;
}

article > div {
  display: inline-block;
  padding-top: 10px;
  height: 300px;
  width: 500px;
}

article > div > img {
  height: 250px;
  width: 500px;
}

article > #hearted {
  padding-left: 10px;
  padding-right: 150px;
  padding-bottom: 110px;
  height: 50px;
  width: 45px;
}

article > img:last-of-type {
  height: 250px;
  width: 150px;
}

body > div:nth-last-of-type(2) {
  font-family: cursive;
  color: maroon;
}

form {
  padding: 10px;
  float: left;
}

form > legend > input {
  height: 35px;
}

body > div:last-of-type {
  font-family: cursive;
  color:seagreen;
  border: solid black 1px;
  padding: 5px;
  width: 500px;
  float: left;
}

body > div:last-of-type > ul > li {
  padding-top: 12px;
  padding-bottom: 5px;
  border-bottom: solid black 1px;
}

button{
  float: right;
  padding-left: 1px;
}

.dark-mode {
  background-color: black;
  color: white;
}

legend {
  padding-top: 10px;
}

fieldset {
  padding-top: 5px;
  padding-bottom: 5px;
}

p {
  letter-spacing: 1px;
}