body {
  width: 960px;
  height: 1080px;
  margin: 0 auto;
  background-color: #f9f9f9;
  padding-left: 15px;
  padding-right: 15px;
  box-shadow: 0px 1px 11px 2px #888888;
  color: #888888;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  float: right;
  padding-right: 15px;
  padding-top: 25px;
}

nav > ul > li {
  display: inline;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: #f9f9f9;
}

ul > li >img:hover  {
  background: url(/images/imgPlaceHold.png) no-repeat center center;
  background-size: cover;
  background-image: url(/images/imgPlaceHold2.png); width: 250px; height: 150px;
}

header {
  background-color: #2e4c8c;
  color: #f9f9f9;
}

header > div:first-of-type {
  padding: 10px;
  float: left;
}

header > div > fieldset{
  width: 200px;
  font-size: large;
  padding-left: 5px;
}

header > div:last-child {
  height: 110px;
}

body > main > div:nth-child(1) {

  padding-bottom: 600px;
}

body > main > div > h2 {
  padding-top: 25px;
  padding-bottom: 10px;
  float: left;
}

body > main > div > img {
  padding-top: 17px;
  padding-left: 5px;
  padding-bottom: 10px;
  height: 25px;
  width: 25px;
}

body > main > div > ul > li > img {
  height: 150px;
  padding: 15px;
  float: left;
  width: 150px;
}


main > div > ul > li > img > p {
  font-size: 25px;
}

.dark-mode {
  background-color: black;
  color: white;
}

main > div > ul > li > img > p {
  font-size: 25px;
}

header > div > img {
  height: 70px;
  width: 90px;
}

#aboutme {
  padding-top: 26px;
}

#aboutmeInput {
  width: 550px;
  padding-top: 40px;
  padding-left: 25px;
} 

body > main > div:nth-child(2) {
  border: solid grey 4px;
  padding-bottom: 100px;
}

#addReview {
  padding-top: 10px;
}
